*{
	border:0px;
	margin:0px;
	padding:0px;
	color:#ffffff;
	font-family:Verdana,sans-serif;
	line-height:20px;
}

#error_body {
	background:#000000 url('/images/error_bg.png') no-repeat center;
	height:100%;
	position:fixed;
	width:100%;
}