/**
 * Стили для player/info
 */
#player-content form {
	top: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
 
#player-content input {
	height: 25px;
	color: #000000;
}

#player-content input[name=pl] {
	width: 420px;
}

#player-content input[name=go] {
	width: 80px;
}

#player-content .pl-result {
	width: 500px;
	text-align: left;
	position: absolute;
}

#player-content #player-info  {
	margin-top: 15px;
}

#player-content #player-info .player-info {
	background: #ffffff;
	padding: 10px;
	text-align: center;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#player-content h3, #player-info a, #player-content div, #player-content span {
	color: #000000;
}

#player-content .player-info .pl_win, #player-content .player-info .pl_lose, 
#player-content .player-info .enemyCount, #player-content .player-info .matchCount {
	width: 225px;
	display: inline-block;
}