form(name='player_info', method='get', action='', enctype='multipart/form-data')
	input(name='pl', type='text', value='', autocomplete='off', class='ui-autocomplete-input ui-corner-all')
	input(name='go', type='submit', value='Показать') 
	div.pl-result