form(method='get', action='/', id='statInfoForm')
	div.players
		p Игрок 1:
		input(type='text', name='pl1', class='ui-autocomplete-input ui-corner-all', value='', autocomplete='off')
		div.result-pl1
	div.pvs vs
	div.players
		p Игрок 2:
		input(type='text', name='pl2', class='ui-autocomplete-input ui-corner-all', value='', autocomplete='off')
		div.result-pl2
	div.submit
		input(type='submit', name='find', value='Найти')