div.content-about 
	h3 Где я?
	p Ты на планете земля, перед монитором! 
	p Ну а если серьезно, раз ты здесь, то ты знаешь что этот сайт предоставляет статистику матчей между двумя игроками. 
	p Ты не знал этого? Ну так уже знаешь, я же уже написал.
	h3 Как это работает?
	p Работает все очень просто:
	p Куча китайцев анализируют страницы с результатами матчей и заносят их в базу.
	h3 Какие еще страницы?
	p Самые обычные. Вот для примера страница результата матча 
		a(href='http://www.bitsperbeat.com/sc2/?site=match-details&ID=94159') CraftCup'a
	h3 И че? 
	p Че че, через плечо. Заходим, смотрим имена игроков, сколько игр с играли, в данном примере две, и записываем результат. 
	h3 И много уже страниц обработано?
	p В данный момент, статистика собирается только с сайта www.bitsperbeat.com и www.esl.eu, точнее для турниров 
		a(rel='nofollow', href='http://www.bitsperbeat.com/sc2/') CraftCup
		| , 
		a(rel='nofollow', href='http://www.bitsperbeat.com/sc2vision/') SCVCUP
		| ,
		a(rel='nofollow', href='http://www.esl.eu/eu/sc2/sennheiser_cup/') Sennheiser
		| ,
		a(rel='nofolow', href='http://www.esl.eu/eu/sc2/go4sc2') Go4SC2
		| .
	p А общую статистику можно посмотреть на страницы 
		a(href='/statistic') статистики
	h3 Ага понятно, а дальше?
	p А в будущем будут добавлены остальные популярные турниры. Сейчас, приоритеты смещены в сторону доработки структуры БД и оптимизации работы китайцев.
	h3 Помочь чем?
	p Ну если есть желание помочь. То сейчас очень нужен человек умеющий делать красиво :) Короче если ты можешь нарисовать красивый дизайн, то пиши.
	p Если ты как я и о дизайне только слышал, но горишь желанием помочь и уверен что сможешь это сделать, то тоже пиши.
	p Ну и конечно же любой отзыв, так же расценивается как помощь.
	h3 А куда писать то?
	p Хороший вопрос, в данный момент писать можно только на 
		a(href='mailto:admin@redzerg.ru') мыло
	h3 А немного технических деталей?
	p Хостинг в облаке от:
		a(href='http://clodo.ru/r188') clodo.ru
	p FrontEnd:
		a(href='http://sysoev.ru') nginx
	p BackEnd:
		a(href='http://nodejs.org') nodejs
	p База данных:
		a(href='http://redis.io') redis